*{
    font-family: 'TT Lakes Condensed';
}

body {
    min-width: 320px;
    max-width: 1200px;
    background-color: #e9e8e8;
}

.brands {
    padding-bottom: 40px;
}
  
.main{
    border-top: 2px solid #41f6d6;
    padding: 16px 0;
    background: linear-gradient(270deg, #f8f8f8 0%, #fff 100%);
  }
  
.text {
    color: #7e7e82;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
.scroll {
    z-index: auto;
  }
  
.scroll-wrap{
    padding-top: 16px;
  }
  
.scroll-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    padding: 16px;
    background: #fff;
  }
  
.scroll-footer{
    position: static;
    margin-top: 16px;
  }

.scroll-button{
    background-color: #fff;
    border: none;
    border-radius: 100%;
}

.button {
    border: none;
    align-items: center;
  }

  
  @media (min-width: 768px) {

    .section {
      padding: 0 24px;
    }

    .scroll-wrap{
      display: grid;
      grid-template-columns: max-content;
      gap:24px;
      height: auto;
    }
  
    .button{
      display: flex;
      flex-direction: row;
    }
  }